#navigationBar {
    padding: 1.25%;
}
  
#navigationBar li { 
    display: inline;
    padding-left: 4%;
    padding-right: 4%;
}
  
#navigationBar li:hover {
    background-color: white;
    color: black;
    transition: background-color 250ms linear;
    transition: color 250ms linear;
}