@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

#paddingForMyPhoto {
  padding-bottom: 2vh;
  padding-top: 3vh;
}

#myPhoto {
  width: 35vh;
  margin: auto;
  box-shadow: 0.5em -0.5em rgba(255, 255, 255, 0.8);
}

#mainContent {
  padding-top: 3vh;
  vertical-align: middle;
}

html {
  font-size: calc(15px + 0.390625vw);
  overflow-x: hidden;
  
  text-shadow: 2px 2px 1px black;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 1.5rem;
}

h5 {
  font-size: 0.6rem;
}

p {
  padding: 1vh;
}