@tailwind base;
@tailwind components;
@tailwind utilities;

#mainContent {
  padding-top: 2vh;
  vertical-align: middle;
  overflow-y: auto;
  background-color: rbga(0,0,0,0.2);
}

html, body {
  font-size: calc(15px + 0.390625vw);
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  text-shadow: 2px 2px 1px black;
  color: white;
}

h1 {
  font-size: 3.2rem;
  font-style: bold;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

h5, span {
  font-size: 0.6rem;
  font-weight: 200;
}

p {
  padding: 1vh;
  font-weight: 400;
}