#paddingForMyPhoto {
    padding-bottom: 2vh;
    padding-top: 3vh;
  }
  
  #myPhoto {
    width: 35vh;
    margin: auto;
    box-shadow: 0.5em -0.5em rgba(255, 255, 255, 1);
  }
  
  #myPhoto:hover {
    transform: scale(1.05);
    transition: transform 0.1s ease-out;
  }